*{
    box-sizing: border-box;
}

#main-title{
    font-family: "Lucida Handwriting", 'cursive';
    font-weight: 1;
    font-size: 50px;
    text-align:center;
}

.text{
    margin:10px 10px 20px 10px;
}

.central-article-image{
    width:90%;
    margin:auto;
    display: block;
    height:auto;
}

.grid{
    border: 1px solid black;
    margin: 0px 10px 0 10px
}



.block{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    border: 2px solid black;
}

.title{
    text-align:center;
    font-weight: bold;
    font-style: italic;
    font-weight: 1;
}



.side-article{
    flex:1;
    flex-grow: 1;

}

.central-article{
    flex:1;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-grow: 2;
}

.categories{
    flex:1;
    flex-grow: 3;
    border-left: 1px solid black;
    display: grid;
    grid-auto-rows:1fr;
}

.categories .category-link{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: #555555;
    margin-left:30px;
}

.categories .category-link:hover{
    text-decoration: underline;
}

.cat{
    display: flex;
    align-items: center;
}


.category-1 {
    background-color: burlywood;
}

.category-2{
    background-color: aqua;
}

.category-3{
    background-color: aquamarine;
}

.category-4{
    background-color: cadetblue;
}

.category-5{
    background-color: blueviolet;
}

